{% extends "BilleterieBundle::layout.html.twig" %}

{% block title %}
    <title>Oups !</title>
{% endblock %}

 {% block body %}
     <h2>Il n'y actuellement plus assez de tickets à la vente pour cette date.</h2>

     <p><em>Merci de réessayer ultérieurement.</em></p>

     <p><em>Veuillez nous excuser pour la gêne occasionnée.</em></p>
 {% endblock %}